DEBUG_SER::1::Вывод отладочной информации в последовательный порт (1 - вкл., 0 - выкл.)
DEBUG_TCP::0::Вывод отладочной информации на сервер (1 - вкл., 0 - выкл.)
DEBUG_TCP_PERIOD::20::Периодичность отправки лога по TCP (в сек)
DEBUG_AT::0::Вывод лога АТ-команд (1 - вкл., 0 - выкл.)
AUTH_TYPE::1::Тип авторизации (0 - Пирамида, 1 - Аналитика)
ID_SERVER::0x00000000L::Идентификатор для авторизации
ID_LOG_SERVER::0x00000000L::Идентификатор для авторизации на лог-сервере
REG_SERVER::1::Регистрация на сервере (1 - вкл., 0 - выкл.)
REG_LOG_SERVER::0::Регистрация на сервере логгирования (1 - вкл., 0 - выкл.)
PIN::0000::PIN-код
APN::internet.mts.ru::Точка входа GPRS
GPRS_USER::mts::Имя пользователя GPRS
GPRS_PASSWD::mts::Пароль GPRS
DEST_IP::10.12.13.14::Адрес назначения исходящего соединения
DEST_PORT::6006::Порт назначения исходящего соединения
LOG_IP::some.log.server.com::Адрес LOG-сервера
LOG_PORT::5001::Порт LOG-сервера
TCP_MAX_LENGTH::1500::Максимальная длина сообщения TCP
TIMEOUT_MDM::1::Таймаут операций с АТ-парсером модема (в 1/10 сек)
TIMEOUT_AT::30::Таймаут ожидания ответа на AT-команду (в сек)
TIMEOUT_PDP::40::Таймаут ожидания активации GPRS (в сек)
TIMEOUT_TCP::30::Таймаут ожидания подключения по TCP (в сек)
SER_SP::115200::Скорость последовательного порта (бит/сек)
SER_OD::8N1::Режим работы последовательного порта
STARTMODESCR::1::Режим запуска скрипта
PING_TIMEOUT::50::Таймаут ожидания ответа на PING (в 1/10 сек)
PING_TRYS::30::Количество попыток PING всех тестовых адресов
PING_IPS::8.8.8.8,8.8.4.4::Список тестовых адресов для проверки связи
REBOOT_PERIOD::1440::Период между принудительными перезагрузками модуля (в мин)
WATCHDOG_PERIOD::300::Период сторожевого таймера (в сек)
ATRUN_ENABLED::0::Включение службы TCP AT Run
ATRUN_HOST::10.11.12.13::Адрес службы TCP AT Run
ATRUN_PORT::6010::Порт службы TCP AT Run
SMS_CHECK_PERIOD::60::Period for incoming SMS check (in seconds)
